<div class="col-xs-12 col-sm-6">

  <table>
    <tr><td>
      <h3>My Orders</h3>
    </td></tr>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to "#Order #{order.id} - #{order.activity.title}", order_path(order) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
