<div class="col-xs-12 col-sm-6">

  <table>
    <tr><td>
      <h3>My Orders</h3>
    </td></tr>

    <% if @orders.size == 0 %>
      <tr><td>There are no orders yet.</td></tr>
    <% else %>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to "#Order #{order.id} - #{order.activity.title}", order_path(order) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    
  </table>

</div>
