@import "bootstrap";

$background-color: #eee;
$text-color: black;

body {
  background-color: $background-color;
}
a,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
.top-nav {
  background-color: purple;
  height: 120px;
  .logo {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    float: left;
  }
  .user-buttons {
    float: right;
    margin-top: 25px;
    padding: 0px 20px;
    line-height: 60px;
    height: 60px;
    background-color: $background-color;
  }
}
.alerts {
  line-height: 40px;
  background-color: #ccc;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  .notice,
  .alert {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
}
.main {
  .activity {
    width: 100%;
    margin-bottom: 30px;
    table {
      background-color: #fff;
      width: 100%;
      td {
        border: 1px solid #000;
      }
    }
  }
}
