@import "bootstrap";

$background-color: #eee;
$text-color: black;

body {
  background-color: $background-color;
}
a,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
.top-nav {
  background-color: purple;
  height: 120px;
  .logo {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    float: left;
  }
  .user-buttons {
    float: right;
    margin-top: 25px;
    padding: 0px 20px;
    line-height: 60px;
    height: 60px;
    background-color: $background-color;
  }
}
.links {
  display: block;
  height: 50px;
  a {
    display: inline-block;
    float: left;
    width: auto;
    background-color: #ccc;
    border-radius: 10px;
    height: 40px;
    margin: 5px;
    padding: 0px 10px;
    line-height: 40px;
    color: #fff;
    text-align: center;
  }
  a:hover {
    background-color: #989898;
  }
}
.alerts {
  line-height: 40px;
  background-color: #ccc;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  .notice,
  .alert {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
}
.main {
  table {
    width: 100%;
    background-color: #fff;
    td {
      border: 1px solid #000;
    }
  }
  .activity {
    width: 100%;
    margin-bottom: 30px;
    table {
      width: 100%;
      td {
        border: 1px solid #000;
      }
    }
  }
  .activity-page {
    .right-section {
      float: right;
      display: inline-block;
    }
    .left-section {
      display: inline-block;
    }
  }
}
