<div class="row">
  <% if @activities.size == 0 %>
    <h3>There are no activities</h3>
  <% else %>

    <% @activities.each do |activity| %>

    <%= link_to(activity_path(activity), class: "activity col-xs-12 col-sm-6 col-lg-4") do %>
        <table>
          <tr><td><h3><%= activity.title %></h3></td></tr>
          <tr><td><div><%= activity.date_formatted %></div></td></tr>
          <tr><td><div><%= activity.price_with_text %></div></td></tr>
        </table>
      <% end %>

    <% end %>

  <% end %>
</div>
