<div class="row">
  <% @activities.each do |activity| %>

    <a href="<%= activity_path(activity) %>" class="activity col-xs-12 col-sm-6 col-lg-4">
      <table>
        <tr><td><h3><%= activity.title %></h3></td></tr>
        <tr><td><div><%= activity.date %></div></td></tr>
        <tr><td><div><%= activity.price %>$ per ticket</div></td></tr>
      </table>
    </a>



  <% end %>
</div>
